@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap'); */

/* /********************* css variables */
:root{
  --primaryColor:#3fd0d4;
  --mainWhite:#fff;
  --ofWhite: #f7f7f7;
  --mainBlack:#222;
  --mainGrey:#ececec;
  --darkGrey:#afafaf;
  --mainTransition:all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0,0,0,0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0,0,0,0.50);
}

body{
  font-family: 'Lato', sans-serif;
  -webkit-columns: var(--mainBlack);
    -moz-columns: var(--mainBlack);
      columns: var(--mainBlack);
  background: var(--ofWhite);
  line-height: 1.4;
  font-size: 1rem;
}


/****************** global styles */

img{
  width: 100%;
  display: block;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.3rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.2rem;
}
p{
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a{
  text-decoration: none; 
}


*,::before,::after{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.header{
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(12, 2, 2, 0.5),rgba(12, 0, 0, 0.3)), url("./hero.jpg") center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  /* position: relative; */
  
}

.navbar{
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0px;
  transition: .5s;
  text-align: center;
  border-bottom: 2px solid rgb(196, 187, 187);
  z-index: 1;
}


.navbar ul li{
  list-style-type: none;
  display: inline-block;
  /* padding: 10px 50px; */
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbar ul{
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(4,auto);
  
}



  .li2:hover{
  border-bottom: 2px solid rgb(196, 187, 187);
  padding-bottom: 0px;
}
  .li3:hover{
  border-bottom: 2px solid rgb(196, 187, 187);
  padding-bottom: 0px;
}
  .li4:hover{
  border-bottom: 2px solid rgb(196, 187, 187);
  padding-bottom: 0px;
}


#li1{
  text-align: left;
  /* padding-left: 0; */
  padding-left: 20px;
} 

a { color: inherit;
  text-decoration: none;
  /* color: white;  */
} 


.banner{
  width: 1170px;
  margin: 0 auto;
  /* /* display: grid;
  grid-template-rows: auto auto auto; */
  display: flex;
  flex-direction: column;

}

.banner div{
  
  
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
}

.hero-title{
  font-size: 53px;
  color: #f7f7f7;
}
.hero-subtitle{
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 1.2rem;
  color: #f7f7f7;
}

.line{
  height: 1px;
  border-bottom: 2px solid rgb(196, 187, 187);
  max-width: 550px;
}

.hero-icons{
  padding-top: 1.2rem;
  font-size: 25px;
  color:#f0edee;
}

.hero-icons i{
  padding-left: 20px;
  transition: var(--mainTransition);
}

.hero-icons i:hover{
  color: #a5d8ff;
  transform: scale(1.4)
  
}


@media screen and (max-width:768px){
  .navbar ul li{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;

}
#li1{
  padding-left: 1px;
}
.banner div{
  margin-left: 10px;
}

.hero-title{
  font-size: 46px;
  line-height: 1.2;
}
.hero-subtitle{
  font-size: 17px;
}

.line{
  max-width: 300px;
}
}

/******************* end of hero section */



/******************* about section  */
.about{
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  padding-top: 4rem;
  align-items: center;
  
}

.about-more{
  grid-column: 1/3;
  text-align: center;
}
.about-image{
  padding-top: 1rem;
}

.about-title{
text-align: center;
text-transform: capitalize;
font-size: 2.5rem;
letter-spacing: 0.25rem;
}

.about-subtitle{
  color: #a5d8ff;
}

.info{
  padding-top: 2rem;
}
.about-info{
  /* padding-top: 2rem; */
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
}
.about-info-2{
  /* padding-top: 2rem; */
  font-size: 1.8rem;
  line-height: 2.3rem;
  padding-top: 5rem;
}




@media screen and (max-width:768px){
  .about{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-content: center;
    
  }
  .about-image{
  grid-row: 1/2;
  padding-top: 0;
  }
  .info{
  grid-row: 2/3;
  margin-top: -10px;
  }
  .about-more{
  grid-row: 3/4;
  }
  .about-info{
    padding: 0 0.7rem;
    font-size: 1rem;
  }
  .about-info-2{
  
  font-size: 1.5rem;
  line-height: 2.3rem;
  padding-top: 3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
}


/******************* end of about  */



/* ********************work section */

.work-section{
     /* to change */
  max-width: 1170px;
  margin: 0 auto;
  width:88vw;
  /* padding-right: 2rem; */
}
  
.work-section-first{
  /* width: 85vw; */
  background: #f0edee; 
  padding: 3rem 0; 
  
}
.work-title{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}


.work-subtitle{
  color: #a5d8ff ;
}



.work-card{
  margin-bottom: 4rem;
  box-shadow: 2px 5px 3px 2px rgba(0,0,0,0.25);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.work-card:hover{
  box-shadow: 4px 10px 5px 0 rgba(0,0,0,0.50);
}
.work-img-container{
  position: relative;
  
}
.work-date{
  position: absolute;
  top: 0 ;
  left: 0;
  background: #a5d8ff;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
.work-footer{
  padding: 1.2rem 1.5rem;
  background: #fff;

}
.project-title{
  text-transform: capitalize;
}
.project-subinfo{
  color: var(--primaryColor);
  text-transform: capitalize;
}
.project-info{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}
.project-details p{
  line-height: 0.2rem;
  text-transform: capitalize;
  color: var(--darkGrey);
  letter-spacing: 0.02rem;
}
.project-subinfo{
  align-self: center;
}
.projects-link{
  text-align: center;
}
@media screen and (min-width:768px){
  .work-center{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
  .work-card{
    -webkit-box-flex: 0;
            flex: 0 0 calc(50% - 1rem);
    
  }
}
@media screen and (min-width:1170px){
  .work-center{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
  .work-card{
    -webkit-box-flex: 0;
            flex: 0 0 calc(33.333% - 1rem);
  }
}

.btn-primary{
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: white;
  border: 2px solid white;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  
  transition: all 0.3s linear;
  cursor: pointer;
}


.btn-primary{
  background: #a5d8ff;
  border-color:#a5d8ff; ;
}
.btn-primary:hover{
  background: transparent;
  color: var(--primaryColor);
}
/* ********************end of work section */


.box{
  width: 300px;
  height: 2000px;
  background: green;
  margin: 20px auto;
}



h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
