@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap'); */

/* /********************* css variables */
:root{
  --primaryColor:#3fd0d4;
  --mainWhite:#fff;
  --ofWhite: #f7f7f7;
  --mainBlack:#222;
  --mainGrey:#ececec;
  --darkGrey:#afafaf;
  --mainTransition:all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0,0,0,0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0,0,0,0.50);
}

body{
  font-family: 'Lato', sans-serif;
  -webkit-columns: var(--mainBlack);
    -moz-columns: var(--mainBlack);
      columns: var(--mainBlack);
  background: var(--ofWhite);
  line-height: 1.4;
  font-size: 1rem;
}


/****************** global styles */

img{
  width: 100%;
  display: block;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.3rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.2rem;
}
p{
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a{
  text-decoration: none; 
}


*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.header{
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(12, 2, 2, 0.5),rgba(12, 0, 0, 0.3)), url("./hero.jpg") center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  /* position: relative; */
  
}

.navbar{
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0px;
  transition: .5s;
  text-align: center;
  border-bottom: 2px solid rgb(196, 187, 187);
}


.navbar ul li{
  list-style-type: none;
  display: inline-block;
  /* padding: 10px 50px; */
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbar ul{
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(4,auto);
  
}



  .li2:hover{
  border-bottom: 2px solid rgb(196, 187, 187);
  padding-bottom: 0px;
}
  .li3:hover{
  border-bottom: 2px solid rgb(196, 187, 187);
  padding-bottom: 0px;
}
  .li4:hover{
  border-bottom: 2px solid rgb(196, 187, 187);
  padding-bottom: 0px;
}


#li1{
  text-align: left;
  /* padding-left: 0; */
  padding-left: 20px;
} 

a { color: inherit;
  text-decoration: none;
  /* color: white;  */
} 


.banner{
  width: 1170px;
  margin: 0 auto;
  /* /* display: grid;
  grid-template-rows: auto auto auto; */
  display: flex;
  flex-direction: column;

}

.banner div{
  
  
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
}

.hero-title{
  font-size: 53px;
  color: #f7f7f7;
}
.hero-subtitle{
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 1.2rem;
  color: #f7f7f7;
}

.line{
  height: 1px;
  border-bottom: 2px solid rgb(196, 187, 187);
  max-width: 550px;
}

.hero-icons{
  padding-top: 1.2rem;
  font-size: 25px;
  color:#f0edee;
}

.hero-icons i{
  padding-left: 20px;
  transition: var(--mainTransition);
}

.hero-icons i:hover{
  color: #a5d8ff;
  transform: scale(1.4)
  
}


@media screen and (max-width:768px){
  .navbar ul li{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;

}
#li1{
  padding-left: 1px;
}
.banner div{
  margin-left: 10px;
}

.hero-title{
  font-size: 46px;
  line-height: 1.2;
}
.hero-subtitle{
  font-size: 17px;
}

.line{
  max-width: 300px;
}
}

/******************* end of hero section */



/******************* about section  */
.about{
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  padding-top: 4rem;
  align-items: center;
  
}

.about-more{
  grid-column: 1/3;
  text-align: center;
}
.about-image{
  padding-top: 1rem;
}

.about-title{
text-align: center;

}

.info{
  padding-top: 2rem;
}
.about-info{
  /* padding-top: 2rem; */
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
}
.about-info-2{
  /* padding-top: 2rem; */
  font-size: 1.8rem;
  line-height: 2.3rem;
  padding-top: 5rem;
}

/* .qrcode{
  display: block;
  width: 200px;
} */


@media screen and (max-width:768px){
  .about{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-content: center;
    
  }
  .about-image{
  grid-row: 1/2;
  padding-top: 0;
  }
  .info{
  grid-row: 2/3;
  margin-top: -10px;
  }
  .about-more{
  grid-row: 3/4;
  }
  .about-info{
    padding: 0 0.7rem;
    font-size: 1rem;
  }
  .about-info-2{
  /* padding-top: 2rem; */
  font-size: 1.5rem;
  line-height: 2.3rem;
  padding-top: 3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
}


/******************* end of about  */



.box{
  width: 300px;
  height: 2000px;
  background: green;
  margin: 20px auto;
}

