@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap'); */

/* /********************* css variables */
:root{
  --primaryColor:#3fd0d4;
  --mainWhite:#fff;
  --ofWhite: #f7f7f7;
  --mainBlack:#222;
  --mainGrey:#ececec;
  --darkGrey:#afafaf;
  --mainTransition:all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0,0,0,0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0,0,0,0.50);
}

body{
  font-family: 'Lato', sans-serif;
  -webkit-columns: var(--mainBlack);
    -moz-columns: var(--mainBlack);
      columns: var(--mainBlack);
  background: var(--ofWhite);
  line-height: 1.4;
  font-size: 1rem;
}


/****************** global styles */

img{
  width: 100%;
  display: block;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.3rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.2rem;
}
p{
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a{
  text-decoration: none; 
}


*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.header{
  width: 100%;
  height: 75vh;
  background: linear-gradient(rgba(12, 2, 2, 0.5),rgba(12, 0, 0, 0.3)), url("./hero.jpg") center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  /* position: relative; */
  
}

.navbar{
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0px;
  transition: .5s;
  text-align: center;
  border-bottom: 2px solid rgb(196, 187, 187);
}
.navbar ul li{
  list-style-type: none;
  display: inline-block;
  /* padding: 10px 50px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: .5s;

  
  
}

.navbar ul{
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(4,auto);
  
}

.navbar ul li:hover{
  background: orange;
  
}

#li1{
  text-align: left;
  /* padding-left: 0; */
  padding-left: 20px;

}
a { color: inherit;
  text-decoration: none;
  /* color: white;  */
} 



.banner{
  width: 1170px;
  margin: 0 auto;
  /* /* display: grid;
  grid-template-rows: auto auto auto; */
  display: flex;
  flex-direction: column;

}

.banner div{
  
  
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
}

.hero-title{
  font-size: 53px;
}
.hero-subtitle{
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 1.2rem;
}

.line{
  height: 1px;
  border-bottom: 2px solid rgb(196, 187, 187);
  max-width: 500px;
}

.hero-icons{
  padding-top: 1.2rem;
  font-size: 25px;
  
}

.hero-icons i{
  padding-left: 20px;
  transition: var(--mainTransition);
}

.hero-icons i:hover{
  color: rgb(5, 5, 77);
  transform: scale(1.2);
}



.box{
  width: 1170px;
  height: 2000px;
  background: green;
  margin: 20px auto;
}

